.medium-zoom-overlay {
    z-index: 20;
}

.medium-zoom-image {
    z-index: 100;
}

body {
    position: relative;

    &:after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-attachment: fixed;
        background-size: revert;
        background-image: url('/imgs/pattern.svg');
        z-index: -1;
    }
}

body:after {
    opacity: 0.2;
}

.dark body:after {
    opacity: 0.7;
}
